{% extends 'base.html.twig' %}

{% block title %}Video index{% endblock %}

{% block body %}
    <h1>Video index</h1>

    <div>
        {% for video in videos %}

            <section><h2>{{ video.name }}</h2></section>
            <section>{{ video.irl | raw }}</section>
            <section>{{ video.createur }}</section>
            <section>
                <a href="{{ path('video_show', {'id': video.id}) }}">Voir plus</a>
            </section>
        {% else %}
            <section>
                <td colspan="5">no records found</td>
            </section>
        {% endfor %}
    </div>

{% endblock %}