{% extends 'base.html.twig' %}

{% block title %}Hello ProjetController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Mon PROJET! ✅</h1>

    MENU
    <ul>
        <li>  <a href="/login"> Connexion </a></li>
        <li>  <a href="/"> Page de base </a></li>
        <li>  <a href="/register"> Formulaire d'inscription </a></li>
        <li>  <a href="/product"> Un compteur de keyboard </a></li>

    </ul>
</div>


{% endblock %}


