
{% extends 'base.html.twig' %}

{% block title %}Hello ProjetController!{% endblock %}






{% block body %}

<div>
    <h1 class="titre_1">Votre site Wild Rift certified ✅</h1>



    </div>
    
    <p>
        Faites équipe avec des amis et prouvez votre talent dans un MOBA en 5c5.
        De la compétition technique, spécialement conçue pour mobiles et consoles,
        avec des contrôles repensés et des parties fluides.
    </p>

    <p>
        Bannissez les ténèbres avec l'Éclat final de Lux ou suivez le vent avec le Dernier soupir de Yasuo.
        Jouez les champions de LoL que vous aimez, où vous voulez.
    </p>

    <p>
        Explorez l'univers de Runeterra à travers ses légendes, ses BD, son jeu et bien d'autres choses.
        Puis rejoignez la communauté des joueurs, des cosplayers, des musiciens et des créateurs de contenu qui vous attendent.
    </p>

</div>
{% endblock %}


